
<!-- Fake page loading -->
<div id="fakeLoader"></div>

<!-- Wrapper -->
<div class="wrapper">

    <!-- Navigation -->
    <!-- Hero -->
    <div id="hero" class="single-page section" style="background-image: url('../../Template/images/Japanese-Beer-2017.jpg')">
        <br />
        <br />
        <!-- Content -->
        <div class="container">
            <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
                <div class="col-md-10 col-md-offset-1">
                    <h1>Send us a message, we'd love to</h1>
                    <h2>Hear from you</h2>
                </div>
            </div>
        </div>

    </div>

    <!-- Section -->
    <div class="container-fluid dark section no-padding">
        <div class="row">
            <div class="col-sm-3 col-xs-6 icon-grid">
                <a href="http://www.facebook.com/klevermediauk"></a>
                <i class="fa fa-facebook"></i>
                <h4>Facebook</h4>
                <p>Like our Facebook page for awesome deals &amp; new arrivals.</p>
            </div>
            <div class="col-sm-3 col-xs-6 icon-grid">
                <a href="http://www.instagram.com/klevermediauk"></a>
                <i class="fa fa-instagram"></i>
                <h4>Instagram</h4>
                <p>Hashtag <a href="#">#craftbeernation</a> to be in with a chance to win freebies.</p>
            </div>
            <div class="col-sm-3 col-xs-6 icon-grid">
                <a href="http://www.twitter.com/klevermediauk"></a>
                <i class="fa fa-twitter"></i>
                <h4>Twitter</h4>
                <p>Follow us on Twitter for all the latest in craft beer brewing.</p>
            </div>
            <div class="col-sm-3 col-xs-6 icon-grid">
                <a href="#"></a>
                <i class="fa fa-google-plus"></i>
                <h4>Google +</h4>
                <p>Like is on Google + for the latest &amp; greatest in craft beer.</p>
            </div>
        </div>
    </div>
    <!-- Section -->
    <div class="container-fluid light no-padding section">
        <div class="row">
            <div class="col-sm-6 matchHeight">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3130.2924040821495!2d26.099660450978543!3d38.31905907956423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bb615187908c63%3A0x1f6fe99f353179ff!2zQ2hpb3MgQmVlciAtIM6Wz4XOuM6_z4DOv865zq_OsSDOp86vzr_PhQ!5e0!3m2!1sel!2sgr!4v1626779513758!5m2!1sel!2sgr" width="860" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <div class="col-sm-6 matchHeight">
                <section class="alignMiddle padding-80 mobile-center">
                    <header>
                        <h1>Feel free to send</h1>
                        <h2>Us a message</h2>
                    </header>
                    <p>Hop presence is masked; however, there is some and it peaks with a tannin feel and semi-citric sharpness. Rough and long-lingering finish with molasses, and soft anise residuals sticking to the palate.</p>
                    <p>A tough one to drink. The use of molasses and licorice is simply overwhelming and without balance.</p>
                </section>
            </div>
        </div>
    </div>


    <!-- Section -->
    <div class="container-fluid section no-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 matchHeight">
                    <ul class="contact-list alignMiddle">
                        <li>
                            <i class="fa fa-location-arrow"></i>
                            <div>
                                Address
                                <span>94 River Road, London, United Kingdom</span>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <div>
                                Email
                                <span>sales@craftbeer-nation.com</span>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <div>
                                Telephone
                                <span>(0)203 123 4567</span>
                            </div>
                        </li>
                    </ul>
                    <div class="grey-background"></div>
                </div>
                <div class="col-sm-5 col-sm-push-1 matchHeight">
                    <section class="alignMiddle padding-80-0">
                        @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                        {
                            <input type="text" name="name" placeholder="Name">
                            <input type="email" name="_replyto" placeholder="Email">
                            <textarea name="message" placeholder="Message" rows="5"></textarea>
                            <input type="submit" value="Send" class="btn btn-default">
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
</div>


