@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html lang="en" class="js cssanimations wf-fontawesome-n4-active wf-active" scrolltop="NaN">
<head>

</head>
<body>
    <!-- Fake page loading -->
    <div id="fakeLoader"></div>

    <!-- Wrapper -->
    <div class="wrapper">
        <!-- Hero -->
        <div id="hero" class="single-page section" style="background-image: url(http://placehold.it/1500x500)">
            <br />
            <br />
            <!-- Content -->
            <div class="container">
                <div class="row blurb scrollme animateme" data-when="exit" data-from="0" data-to="1" data-opacity="0" data-translatey="100">
                    <div class="col-md-10 col-md-offset-1">
                        <h1>Review your</h1>
                        <h2>Account Settings</h2>
                    </div>
                </div>
            </div>

        </div>
        <p class="text-success">@ViewBag.StatusMessage</p>
        <div class="container-fluid white section cart">
            <div class="container">
                <div>
                    <p>
                        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>
        </div>
    </div>
        </body>
</html>
